
#contenedor-productos{
    margin: 20px;

   display: flex; 
   flex-direction: column;
   gap: 15px
}

#editar-tarjeta-producto{
    margin-top: 5px;
    display: flex;
    align-items: right;
    justify-content: right;
}

.boton-chico{
    font-size: smaller;
    margin-left: 10px;
    padding: 5px;
    background-color: var(--color_principal);
    border: unset;
    cursor: pointer;
    border-radius: 5px;
}