header{
    position: relative;
    height: 80px;
    background-color: var(--color_principal);
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 500ms ease-in-out;
}


header::before{
    position: absolute;
    content: "";
    background-image:  url(../../../../assets/img/Fachada3.jpg);
    background-position:center ;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 500ms;
    border-radius: 0 0 20px 20px;

}

header.extendido::before{
    opacity: 0.5;
}

h1 {
    font-size: xx-large;
    text-align: center;
    color: rgb(7, 0, 0);
    font-weight: 800;
    margin-bottom: 20px;
    z-index: 1;
}

.extendido{
    height: 30vh;
    background-color: unset;
}

.extendido h1{
    text-shadow: 0 0 5px white
}

.fade-in{
    animation: fade-in 250ms ease-in backwards;
    /* animation-direction: reverse; */
}
.fade-out{
    animation: fade-out 250ms ease-in ;
    /* animation-direction: unset; */
}

/* .fondo-imagen{

} */


@keyframes fade-out{
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 0%;
    }
}

@keyframes fade-in{
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}