#outside {
    display: flex;
    justify-content: center;
  }
  
  #container {
    width: 100%;
    max-width: 667px;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  @media (min-width: 668px) {
    #outside {
      background-image: url(../assets/img/Fachada.jpg);
      background-size: cover;
    }
  }
  
  main {
    flex: 1;
    overflow: auto;
  }
  
  app-tabs {
    margin-top: auto;
  }
  