#container{
    height: 100svh;
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main{
    flex: 1;
    overflow-y: scroll;
}

app-tabs{
    margin-top: auto;
}