.flex-center{
    display: flex;
    justify-content: center;
}
.flex-apart{
    display: flex;
    justify-content: space-between;
}
.margen-chico{
    margin: 10px;
}

h2{
    /* margin-top: 50px; */
    color: var(--color_principal);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    text-align: center;
}


#tarjetas-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.tarjeta-producto-container{
    /* position:relative */
    display: flex;
    height: 12svh;
    background-color: var(--color_principal_atenuado );
}

.tarjeta-producto-container div{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

#izquierda{
    width: 35%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: end;
    padding: 5px;
    gap: 5px;
}
#izquierda #iconos{
    margin-left: -10px;
    margin-bottom: -10px;
    
}

#izquierda img{
    width: 20px;
    background-color: rgba(244, 246, 244, 0.67);
    border-radius: 50px;
}

#izquierda div{
    display: flex;
    justify-content:flex-start;
    gap: 5px;
    align-items:end;
}
#izquierda div img{
    height: 20px;

}

#derecha{
    width:65%;
    display: block;
    margin-right: 0px;
    padding: 0px 0;
    /* align-items: end; */
}

#der-arriba{
    height: 60%;
    display: block;
    /* padding-bottom: 5px; */
    padding: 0;
    margin-top: 4px;
    margin-bottom: 3px;
    text-align: center;
    line-height: 1;
    overflow: hidden;
}

#der-arriba #titulo{
    font-size: 2svh;
}

#der-arriba #notas{
    height:65%;
    font-size:1.5svb ;
    padding-top: 4px;
}

#der-abajo{
    height: 30%;
    padding:5px;
    
}

/* app-contador-cantidad{
    height:50%;
} */


#borrar{
    height: 4svh;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

#borrar img{
    height: 80%;
}

#mas{
    font-size: x-large;
    text-decoration: none;
    color: black;
    background-color: var(--color_principal_atenuado);
    padding:  15px 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#informacion {
    font-size: larger;
}

#envios-container {
    background-color: var(--color_principal_atenuado);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    align-items: center;
}
#envios-container h4{
    font-size: large;
}
#envios-container img {
    height: 20px;
}

/* #costo-container {
    
    background-color: var(--color_principal_atenuado);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
} */

#montos {
  text-align: end;
}

#totales div {
    display: flex;
    flex-direction: column;
    gap: 5px
}

#enviar{
    display: block;
    font-size: larger;
    width: 100%;
    background-color: var(--color_principal);
    border-radius: 10px;
    border: unset;
    cursor: pointer;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
}

dialog {
    margin: 10svh auto;
    background-color: var(--color_principal_atenuado);
    border: unset;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.722); /* var(--color_principal)*/
    border-radius: 10px;
}

dialog div {
    display: flex;
    justify-items:last baseline;
    font-size:small;
    margin-top: 2svh;
    gap: 5svw;
}

dialog p{
    font-size:medium ;
    text-align: center;
}
dialog button {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20svw;
    border: unset;
}

dialog button:first-of-type{
    background-color: rgb(190, 251, 190);
}

dialog button:last-of-type{
    background-color: rgb(251, 190, 190);
}

dialog button span:first-child {
    font-size: x-large;
}
